.backdrop-container {
    height: 500px;
    overflow: hidden;
    z-index: -1;
}
.backdrop-img {
    transform: scale(1.1);
    filter: blur(20px) brightness(0.7); 
    opacity: 0.2;
    transition: none; 
}
.bg-dark-gradient-overlay {
    background: linear-gradient(to bottom, rgba(31, 41, 55, 0.5) 0%, rgba(24, 24, 27, 0.8) 50%, #18181B 100%);
    
}

.poster-wrapper {
    /* Rasio 2:3 (Tinggi 150% dari Lebar) */
    --bs-aspect-ratio: 150%;
    position: relative; /* Wajib untuk ratio helper */
    height: 0; /* Wajib untuk ratio helper */
}
   
.movie-poster-wrapper {
    transition: transform 0.3s ease-in-out;
}
.movie-poster-wrapper:hover {
    transform: scale(1.02);
}
.glow-overlay-custom {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    background: linear-gradient(to top, rgba(220, 38, 38, 0.2) 0%, transparent 100%);
}
.movie-poster-wrapper:hover .glow-overlay-custom {
    opacity: 1;
}


.quote-item-custom .btn-group-quote-custom {
    opacity: 0;
    transition: opacity 0.3s;
}
.quote-item-custom:hover .btn-group-quote-custom {
    opacity: 1;
}


.btn-action-custom {
    transition: all 0.2s;
}
.btn-action-custom:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 15px rgba(220, 38, 38, 0.2); 
}
.hover-scale-110:hover {
    transform: scale(1.1);
}
.min-h-120 {
    min-height: 120px;
}
.modal-dark-custom .modal-content {
    background-color: #111827;
}
