.poster-container {
    position: relative;
    cursor: pointer;
}

.img-scale-on-hover {
    transition: transform 0.3s ease-in-out;
}

.movie-card-group:hover .img-scale-on-hover {
    transform: scale(1.05);
}

.overlay-fade {
    opacity: 0;
    transition: opacity 0.3s, background-color 0.3s;
}

.movie-card-group:hover .overlay-fade {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.btn-icon-sm {
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-film {
  background-color: #1e40af !important;  /* biru navy */
  border-color: #1e40af !important;
  color: white !important;
}
